@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
  background-color: #112935;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0em 3em 0em 2.5em; /*modificando el margen del header para que el logo y las 3 barras esten en la posicion*/
height: 10vh;/*ocupe este height para lograr ocupar la primera seccion a pantalla completa*/
}
.header>nav>ul>li>a:hover{/*cambio de color de las letras del menu*/
  color: #ff0000;
}
.src-only {
  display: none;
}

.hide-mobile {
  display: none;
}

p {
  font-size: 0.75em;
  padding: 1rem;
  line-height: 25px;
}

/*arreglando tamanio del logo*/
.logo {
  height:50px;
  width: 100px;
  margin:10px 14.740px 0px 14.740px;
}
/*arreglando tamanio de las barras*/
a.hide-desktop.options{
  font-size: 3em;
}

.options {
  color: inherit;
  text-decoration: none;
  position: relative;
  top: 30%;
  right: 95%;
  font-size: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.options i:last-child {
  font-size: 1.6rem;
}

/* Big area */
.big-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:90vh;/*ocupe este height para lograr ocupar la primera seccion a pantalla completa*/
}

.big-hero img {
  width: 150px;
}

.big-hero h2 {
  font-size: 1.875em;
  font-weight: 700;
  letter-spacing: 0.002em;
  margin-top: 1em;
}

.big-hero p {
  font-size: 1em;/*arreglando tamanio de la fuente descripcion*/
  color: #d7dee6;
padding: 5px 15.360px 15.360px 15.360px; /*arreglando espaciado entre el nombre y la descripcion*/ 
}




/* Social links*/
.social-links {
  list-style: none;
  padding: 0;
   margin-top:5em; /*ajustando espaciado de la descripcion con los logos*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*aumentando tamanio de los logos de github y twitter y agregando espaciado entre ellos*/
.fab{
    margin:0em 0.2em 0.2em 0.2em;
    font-size: 2em;
  
}
.social-links li a {
  color: #d7dee6;
  text-decoration: none;
  font-size: 2.5em;
}

.green-area {
  background-color: #0ac693;
}

.post {
  padding: 1em;
  margin-bottom: -2px;
}
.post h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;/*ajustando tamanio del titulo de la seccion publicaciones*/
  margin: 1em;
}

.post ul {
  list-style: none;
}

.post ul li {
  min-height: 300px;
  max-width: 350px;
  margin: 2rem auto;
}

.post ul li article {
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: left;
  padding-bottom: 2em;
  margin: 3em 2em 3em 2em;/*ajustando las dimensiones del cuadro*/
  
}

.post article img {
  height: 250px;/*ajustando tamanio de las imagenes de los articulos para que se logren ver mejor*/
  width: 100%;
  object-fit: cover;
}

.post article h3 {
  color: #0d5061;
  margin-top: 2em;
  padding: 0em 1rem;
  font-size: 1.2 em;/*ajuastando tamanio de los titulos de los articulos*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post article p {
  color: #112935;
  font-size: 0.75em;
  padding: 1rem;
  line-height: 25px;

}

/* About */

.about {
  margin: 2em 0em 4em 0em;
}

.about h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;/*aumentando un poco el tamanio de fuente del titulo acerca de*/
  margin: 2em;
}

.bio-info img {
  width: 150px;/*disminuyendo el tamanio del logo*/
}

.bio-info p {
  font-size: 16px;
  padding: 2em;
  text-align: left;
  line-height: 25px;
  letter-spacing: 2px;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 3em;/*ajustando tamanio de los forms*/
}

.contact * + * {
  margin-top: 1.5em;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0px 2em;
  font-size: 1em;
  width: 100%;
}

/* Decorando placeholder */

::-webkit-input-placeholder {
  color: #d7dee6;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #d7dee6;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d7dee6;
}

:-ms-input-placeholder {
  color: #d7dee6;
}

.contact-form input[type="submit"] {
  background-color: #f74442;
  font-weight: 400;
  color: white;
  font-size: 1rem;
}

.black-decoration {
  background-image: url("../images/decoracion_oscura_small.svg");
}

footer {
  background-color: #0d5061;
  color: #d7dee6;

}

footer .social-links {
margin: 0;
height: 9vh;/*ajustando el tamanio de la seccion footer*/
}

.menu {
  background-color: #112935;
  position: absolute;
  z-index: 20;
  top: 60px;
  right: 0;
  width: 100vw;
  height: calc(100vh - 60px);

}

.menu {
  list-style: none;
  text-align: left;
  padding: 1em;
}
.menu li {
  display: block;
  padding: 0.5em;
  margin-top: 5px;
}

.menu li a {
  color: white;
  text-decoration: none;
}


/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  


/*big hero*/

.big-hero img{/*arreglando posicion y tamanio de la foto*/
 margin:4em 0em 0em 0em;
  width: 250px;
}
.big-hero h2{/*arreglando tamanio del titulo de la foto*/
  font-size: 1.9em;
}

.big-hero p{/*arreglando tamanio de la descripcion*/
  font-size: 1.2em;
}
/*areglando tamanio y color del circulo con flecha*/
.fas{
  font-size: 5em;
  color:#0ac693;
}
.fas:hover{/*cambiando de color con el botton de la flecha*/
  color: #ec0909;
}

.social-links {
   margin-top:2em; /*ajustando espaciado de la descripcion con los logos*/

}

/*green area*/
.post h2{/*tamanio del titulo de la seccion de las publicacines*/
  font-size: 2em;
}

  .post ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post ul li {
    min-height: 350px;
    max-height: 3500px;
    max-width: 80%;/*ajustando tamanio de los cuadros de los articulos*/
    margin: 1rem 2rem;
    flex: 1 0 300px;
}


.logo {
    width: 150px;
    margin: 1.5em;
}

.show-desktop {
    display: block;
}

.hide-desktop {
    display: none;
}

.menu {
    background-color: #112935; 
    position: static;
    z-index: 20;
    width: auto;
    height:auto;
    display: flex;
    margin-top: 1.7em;/*ajustando texto del menu*/
    font-size: 0.6em;/*arreglando tamanio de la fuente del menu*/
}

}

@media only screen and (min-width: 1024px) {
  .contact-form input[type="submit"] {/*ajustando boton de contactar*/
     width:50%;
  }
.about>.container{/**/
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about>.container>h2{/**/
  display: grid;
  grid-column: 1 / -1;
  font-size: 30px;
  margin:0em 3em 3em 0em;
}
.contact {
  padding: 0px 11em;/*ajustando tamanio de los forms*/
}



}

@media only screen and (min-width: 1440px) {

  .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
  }
}

